@import 'config';

.container {
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

%button-shared {
  display: inline-block;
  padding: 0.7rem 1.5rem;
  transition: all 0.5s;
  cursor: pointer;
  border: none;
  margin-top: 1rem;
}

.btn {
  &-light {
    @extend %button-shared;
    background-color: $light-color;
    color: $dark-color;
  }

  &-main {
    @extend %button-shared;
    background-color: $main-color;
    color: $dark-color;
  }

  &-dark {
    @extend %button-shared;
    background-color: $dark-color;
    color: $light-color;
  }
}

a[class^='btn-']:hover,
input[class^='btn-']:hover,
button[class^='btn-']:hover {
  background-color: $main-color;
}

.lead {
  font-size: 1.3rem;
  line-height: 2rem;
  padding-bottom: 0.6rem;
}

.text-center {
  text-align: center;
}

// Padding classes
.py {
  &-1 {
    padding: 1rem 0rem;
  }

  &-2 {
    padding: 2rem 0rem;
  }

  &-3 {
    padding: 3rem 0rem;
  }

  &-4 {
    padding: 4rem 0rem;
  }
}

.my {
  &-1 {
    margin: 1rem 0rem;
  }

  &-2 {
    margin: 2rem 0rem;
  }

  &-3 {
    margin: 3rem 0rem;
  }

  &-4 {
    margin: 4rem 0rem;
  }
}

.bottom-line {
  height: 2px;
  width: 3rem;
  display: block;
  margin: 0 auto 1rem auto;
  background: $main-color;
}

.section-title {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  text-transform: uppercase;
}

.bg {
  &-light {
    background: $light-color;
    color: set-text-color($light-color);
  }
  &-dark {
    background: $dark-color;
    color: set-text-color($dark-color);
  }
  &-main {
    background: $main-color;
    color: set-text-color($main-color);
  }
  &-medium {
    background: $medium-color;
    color: set-text-color($medium-color);
  }
}
